.article-thumb{
    background-color: var(--colorLightL);
    padding: var(--gapxs);
    display: flex;
    gap: var(--gapxs);
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--boxShadow);
    
    h4{
        font-weight: 600;
    }
    p{
        font-size: var(--fontxxs);
    }
    >div{
        display: flex;
        gap: var(--gapxs);
    }
}