.file-thumb{
    display: flex;
    background-color: var(--colorLightAlt);
    gap: var(--gaps);
    justify-content: space-between;
    border: 1px solid var(--colorDark);
    padding: var(--gapxxs);
    box-shadow: var(--boxShadow);
    align-items: center;
    >div{
        display: flex;
        gap: var(--gapxs);
    }
}