
.nav{
    display: flex;
    padding: var(--gaps);
    align-items: center;
    gap: var(--gapm);
    justify-content: space-between;
    font-size: var(--fontText);

    >div{
        display: flex;
        flex-flow: row;
        gap: var(--gapxxs);
        align-items: center;
        z-index: 1;
        
        >div{
            padding: var(--gapxxs);
            
            a{
                text-transform: uppercase;
                transition: color .4s;
            }
            span{
                display: block;
                height: 2px;
                width: 0;
                background-color: var(--colorMaisD);
                transition: width .4s;
            }
            &:hover{
                a{
                    color: var(--colorMaisD);
                    
                }
                span{
                    width: 100%;
                }
            }
            >div{
                display: flex;
                align-items: center;
                padding: 0;

            }
        }
    }
}