
.btn{
    max-width: max-content;
    font-size: var(--fontText);
    font-family: var(--typeText);
    padding: var(--gapxxs);
    border: 1px solid var(--colorMaisD);
    color: var(--colorMaisD);
    transition: background-color .4s;
    background: none;
    text-align: center;
    box-shadow: var(--boxShadow);

    &:hover{
        cursor: pointer;
        border-color: var(--colorMaisDD);
        color: var(--colorMaisDD);
        background-color: var(--colorTrans);
        transition: background-color .4s;
    }

    &.danger{
        color: var(--colorError);
        border-color: var(--colorError);

        &:hover{
            border-color: var(--colorErrorD);
            color: var(--colorErrorD);
        }
    }
    &.large{
        font-size: var(--fontm);
    }
    &.exit{
        line-height: .6em;
    }
    &.small{
        font-size: var(--fontxxs);
        padding: var(--gapTHxxs);
    }
    &.light{
        background-color: var(--colorLight);
        &:hover{
            background-color: var(--colorLightAlt);
        }
    }
}